.footer {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    background-color: #1e1b1b;
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-heading {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    width: 50%;
    color: #ffff;
  }
  
  .social-icons {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  .social-icon {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    font-size: larger;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
  }
  
  .contact-info-title {
    color: #e2e6e9;
    font-weight: 600;
    font-size: 18px;
    line-height: 31.5px;
  }
  
  .contact-info {
    color: #ffff;
    font-weight: 600;
    font-size: 24px;
  }
  